*{
	margin: 0;
	padding: 0;
}
a{
	list-style-type: none;
	color: #fff;
	text-decoration: none;
}
.nav{
	margin: 100px auto;
	width: 1000px;
	height: 540px;
	background-color: #5BC884;
	position: relative;
}
.nav-center{
	width: 800px;
	height: 480px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -400px;
	margin-top: -240px;
}
.top{
	width: 800px;
	height: 50px;
}
.top span{
	float: right;
	width: 50px;
	height: 50px;
}
.top span img{
	margin: 17px 17px;
}
.center{
	width: 760px;
	height:350px;
}
.center .title{
	margin: 0px auto;
}
.center h2,.center p{
	display: block;
	width: 760px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
.center h2{
	font-size: 30px;
	color: #F67038;
}
.center p{
	font-size: 16px;
	color: #989898;
}
.center .logo{
	width: 700px;
	height: 250px;
}
.center .logo .logo-one{
	width: 200px;
	height: 250px;
	float: left;
	margin-left: 25px;
}
.center .logo .logo-one .logo-one-sex{
	width: 200px;
	height: 40px;
	color: #96CEB4;
}
.center .logo .logo-one .logo-two-sex{
	width: 200px;
	height: 40px;
	color: #7CC6D8;
}
.center .logo .logo-one .logo-three-sex{
	width: 200px;
	height: 40px;
	color: #FF6F69;
}
.center .logo .logo-one span{
	display: block;
	float: left;
	width: 100px;
	height: 40px;
	text-align: center;
	margin-top: 10px;
}
.center .logo .logo-one .logo-top{
	width: 200px;
	height: 100px;
}
.center .logo .logo-one .logo-top .logo-top-left-one{
	float: left;
	width: 100px;
	height: 100px;
	background: url(../img/header.png) no-repeat -438px -426px;
	border-radius: 50%;
}
.center .logo .logo-one .logo-top .logo-top-right-one{
	float: right;
	width: 100px;
	height: 100px;
	background: url(../img/header.png) no-repeat -834px -225px;
	border-radius: 50%;
}
.center .logo .logo-one .logo-top .logo-top-left-two{
	float: left;
	width: 100px;
	height: 100px;
	background: url(../img/header.png) no-repeat -36px -425px;
	border-radius: 50%;
}
.center .logo .logo-one .logo-top .logo-top-right-two{
	float: right;
	width: 100px;
	height: 100px;
	background: url(../img/header.png) no-repeat -635px -432px;
	border-radius: 50%;
}
.center .logo .logo-one .logo-top .logo-top-left-three{
	float: left;
	width: 100px;
	height: 100px;
	background: url(../img/header.png) no-repeat -239px -27px;
	border-radius: 50%;
}
.center .logo .logo-one .logo-top .logo-top-right-three{
	float: right;
	width: 100px;
	height: 100px;
	background: url(../img/header.png) no-repeat -38px -233px;
	border-radius: 50%;
}
.center .logo .logo-one .logo-footer{
	width: 200px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-top: 20px;
	border-radius: 15px;
	color: #fff;
}
.logo-footer-one{
	background-color: #96CEB4;
}
.logo-footer-two{
	background-color: #7CC6D8;
}
.logo-footer-three{
	background-color: #FF6F69;
}
.footer{
	width: 760px;
	height: 100px;
}
.footer .left,.footer .right{
	width: 128px;
	height: 40px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height:40px;
	background-color: #40ABD9;
	margin-top:10px;
	border-radius: 20px;
}
.footer .left{
	float: left;
	margin-left: 50px;
}
.footer .right{
	float: right;
	margin-right: 50px;
}
.footer a{
	display: block;
	width: 128px;
	height: 40px; 
}
.nage{
	padding-top: 33px;
	width: 760px;
	height: 427px;
	border: 1px solid red;
	margin: 0 auto;
}